@model IEnumerable<DealerKendaraanMVC.Models.Produk>
@{
    Layout = "./_Layout.cshtml";
    ViewData["Title"] = "Admin Control Panel";
    ViewData["Name"] = "Soemthing";
}

<div class="text-center">
    <h1 class="py-3">
        <span style="border-radius: 20px; background-color: darkcyan; padding:10px 30px;">
            Kendaraan
        </span>
    </h1>

    <h2 class="text-light">Data Kendaraan</h2>
</div>

<div class="search_form">
    <form name="something" action="@Url.Action("Kendaraan", "Admin")" method="get">
        <div class="d-flex p-3" style="gap:10px;">
            <input type="text" class="form-control" name="search" placeholder="Search">
            <button type="submit" class="btn btn-primary">Search</button>
            <a class="btn btn-success text-light" asp-controller="Admin" asp-action="KendaraanTambah">Tambah</a>
        </div>
    </form>
</div>

<div class="table-container">
    <table class="table table-bordered table-dark" style="background-color: darkcyan;">
        <thead class="text-center" style="color:cornsilk">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Nama)</th>
                <th>@Html.DisplayNameFor(model => model.Merk.Nama)</th>
                <th>@Html.DisplayNameFor(model => model.Warna)</th>
                <th>@Html.DisplayNameFor(model => model.StokBarang)</th>
                <th>@Html.DisplayNameFor(model => model.HargaSatuan)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Merk.Nama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Warna)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StokBarang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HargaSatuan)
                </td>
                <td>
                    <a asp-action="KendaraanEdit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="KendaraanDetails" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="KendaraanDelete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>