@model DealerKendaraanMVC.Models.Pesanan

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pesanan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TanggalPesan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TanggalPesan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TanggalTiba)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TanggalTiba)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TanggalPengiriman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TanggalPengiriman)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaPelanggan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaPelanggan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlamatPelanggan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlamatPelanggan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KotaPelanggan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KotaPelanggan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kasir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kasir.NamaBelakang)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
